<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>About us</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="./css/style.css">

</head>
<body>

<header class="header">
   
   <section class="flex">

      <a href="home" class="logo">MARG</a>

      <form action="search.html" method="post" class="search-form">
         <input type="text" name="search_box" required placeholder="search..." maxlength="100">
         <button type="submit" class="fas fa-search"></button>
      </form>

      <div class="icons">
         <div id="menu-btn" class="fas fa-bars"></div>
         <div id="search-btn" class="fas fa-search"></div>
         <div id="user-btn" class="fas fa-user"></div>
         <div id="toggle-btn" class="fas fa-sun"></div>
      </div>

      <div class="profile">
         <img src="images/pic-1.jpg" class="image" alt="">
         <h3 class="name">Your Name</h3>
         <p class="role">Your Role</p>
         <a href="profile" class="btn">View/Update Profile</a>
         <div class="flex-btn">
            <a href="index" class="option-btn">Logout</a>
         </div>
      </div>

   </section>

</header>   

<div class="side-bar">

   <div id="close-btn">
      <i class="fas fa-times"></i>
   </div>

   <div class="profile">
      <img src="images/pic-1.jpg" class="image" alt="">
      <h3 class="name">Your Name</h3>
      <p class="role">Your Role</p>
      <a href="profile" class="btn">View/Update profile</a>
   </div>

   <nav class="navbar">
      <a href="home"><i class="fas fa-home"></i><span>Home</span></a>
      <a href="about"><i class="fas fa-question"></i><span>About</span></a>
      <a href="courses"><i class="fas fa-graduation-cap"></i><span>Professions</span></a>
      <a href="teachers"><i class="fas fa-chalkboard-user"></i><span>Skills</span></a>
      <a href="contact"><i class="fas fa-headset"></i><span>Contact us</span></a>
   </nav>

</div>

<section class="about">

   <div class="row">

      <div class="image">
         <img src="images/about-img.svg" alt="">
      </div>

      <div class="content">
         <h3>Why Choose us?</h3>
         <p>Not knowing what you want to do? Marg is designed to guide through each step of the process,from identifying the right carrer path to preparing for Interviews. Using our website, you can easily input the job you want and recieve a detailed flow chart outlining the steps you need to take to land that job..
         </p>
      </div>

   </div>

   <div class="box-container">

      <div class="box">
         <i class="fas fa-graduation-cap"></i>
         <div>
            <h3>Online Career Counsling</h3>
         </div>
      </div>

      <div class="box">
         <i class="fas fa-user-graduate"></i>
         <div>
            <h3>Top Category Professions</h3>
         </div>
      </div>

      <div class="box">
         <i class="fas fa-chalkboard-user"></i>
         <div>
            <h3>Your Skills</h3>
         </div>
      </div>

      

   </div>

</section> 

<section class="reviews">

   <h1 class="heading">Student's Reviews</h1>

   <div class="box-container">

      <div class="box">
         <p>To be...................</p>
         <div class="student">
            <img src="images/pic-2.jpg" alt="">
            <div>
               <h3>Name</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

      <div class="box">
         <p>To be..............</p>
         <div class="student">
            <img src="images/pic-3.jpg" alt="">
            <div>
               <h3>Name</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

      <div class="box">
         <p>To be..............................</p>
         <div class="student">
            <img src="images/pic-4.jpg" alt="">
            <div>
               <h3>Name</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

      <div class="box">
         <p>To be........................</p>
         <div class="student">
            <img src="images/pic-5.jpg" alt="">
            <div>
               <h3>Name</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

      <div class="box">
         <p>To be.............................</p>
         <div class="student">
            <img src="images/pic-6.jpg" alt="">
            <div>
               <h3>Name</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

      <div class="box">
         <p>To be...............................</p>
         <div class="student">
            <img src="images/pic-7.jpg" alt="">
            <div>
               <h3>Name</h3>
               <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
               </div>
            </div>
         </div>
      </div>

   </div>

</section>













<footer class="footer">

   &copy; Copyright @ 2023 by <span>Team Marg Darshak</span> | All Rights Reserved!

</footer>

<!-- custom js file link  -->
<script src="./js/script1.js"></script>

   
</body>
</html>