<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marg</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
   <div class="contain">
    <div class="top-section">
    <h1> How to became an Architect after completing your class 10th</h1>
    <p>
        Complete 10+2 education, you need to have a higher secondary education degree from a recognized board or university with Mathematics as a subject.

    </p>
    </div> 
     <div class="timeline">
        <div class="line"></div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Complete a Bachelor's Degree in Architecture</h2>
                <p>
                    You need to complete a five-year Bachelor's Degree in Architecture (B.Arch) from a college or university recognized by the Council of Architecture (CoA).


                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
              <h2> Complete an Internship
                </h2>
                <p>
                    After completing your B.Arch degree, you need to complete an internship for a minimum of 1 year under a registered architect or architectural firm.


                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Register with the Council of Architecture</h2>
                <p>
                    After completing your internship, you need to register with the Council of Architecture (CoA), which is a statutory body that regulates the architecture profession in India.


                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Clear the National Aptitude Test in Architecture (NATA)
                </h2>
                <p>
                    You need to clear the NATA, which is a national-level entrance exam that tests your aptitude for architecture. The exam is conducted by the CoA.


                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>
                   Obtain a license 
                </h2>
                <p>
                    After registering with the CoA and completing all the required formalities, you can obtain a license to practice architecture in India.

                </p>
            </div>
        </div>
       
      
     </div>
   </div>
</body>
<script src="./js/timeline.js"></script>
</html>