<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Frequently Asked Questions</h2>
      <div class="accordion">
        <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="false">
            <span class="accordion-title">About Chef</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>Chef responsibilities include studying recipes, setting up menus and preparing high-quality dishes.
                 You should be able to delegate tasks to kitchen staff to ensure meals are prepared in a timely manner.
                  Also, you should be familiar with sanitation regulations.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false">
            <span class="accordion-title">Popular institutes </span>
            <span class="icon" aria-hidden="true"></span>
          </button> 
          <div class="accordion-content">
            <p>institutes Fee<br>
               <a href="https://ihmpusa.net/"> IHM Pusa</a>	        INR 73,000 – INR 90,000 <br>
                <a href="https://www.itm.edu/ihm-admissions-ba-ihtm-oshiwara?utm_source=Vital20&utm_medium=Google&utm_campaign=Oshiwara-BAIHTM&utm_source=Google&utm_medium=Search&utm_campaign=Oshiwara_Brand_March_23&utm_adgroup={adgroup_name}&utm_location=9179342&utm_keyword=ihm%20mumbai&utm_device=c&utm_devicemodel=&utm_placement=&utm_adposition=&utm_target=&utm_network=g&utm_creative=650439369498&gclid=Cj0KCQjwxYOiBhC9ARIsANiEIfbuSHv8LRe_TnGhCkF5_wEoQZheNfQtv-g3SqHT9OVyo27h4bmj2AQaAjuyEALw_wcB">IHM Mumbai</a>	        INR 30,000 <br>
               <a href="https://ihm-chennai.org/"> IHM Chennai</a>	        INR 31,000 – INR 54,000 <br>
            </p>  
          </div>
          
        </div>
        <div class="accordion-item">
          <button id="accordion-button-3" aria-expanded="false">
            <span class="accordion-title">Skills</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              •Inventory control and management<br>
              •Purchasing of ingredients and kitchen equipment<br>
              •Managing a kitchen's budget<br>
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Scholarship</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              <a href="https://www.scholarships.com/financial-aid/college-scholarships/scholarships-by-major/culinary-scholarships/vegetarian-resource-group-college-scholarship/">•American Culinary Federation Scholarships<br></a>
              <a href="">•Illinois Restaurant Association Educational Foundation Scholarship.<br></a>
              <a href="">•Vegetarian Resource Group College Scholarship.<br></a>
            </p>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
              <span class="accordion-title">Expected Salary</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>A person working as Chef in India typically earns around 19,700 INR per month. Salaries range from 15,300 INR (lowest) to 30,200 INR (highest). This is the average monthly salary including housing, transport, and other benefits.

              </p>
            </div>
          </div>

      </div>
    </div>
    <script src="./js/faq.js"></script>
  </body>
</html>
