<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marg</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
   <div class="contain">
    <div class="top-section">
    <h1> How to became  a chef after completing your class 10th</h1>
    <p>
        Chefs are culinary professionals trained in all aspects of food preparation. Their main responsibilities include planning menus, overseeing the kitchen staff, and ensuring that the food meets high-quality standards.
    </p>
    </div> 
     <div class="timeline">
        <div class="line"></div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>What to do after 10 ?</h2>
                <p>
                    To become a chef, you must complete your class 10th education or equivalent. After that, you can enroll in a culinary arts program.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
              <h2> Choose a culinary arts program
                </h2>
                <p>
                    There are many culinary arts programs available in various institutions. You can choose one that suits your interest and budget. 
                    Look for programs that offer hands-on training in a professional kitchen, as this will help you develop practical skills.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Gain experience</h2>
                <p>
                    Experience is essential to becoming a successful chef. You can start by working in a restaurant or a catering company as an assistant cook. 
                    This will give you valuable experience and help you learn about different cuisines and cooking techniques.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Get certified:
                </h2>
                <p>
                    While it is not mandatory to be certified to work as a chef, it can enhance your job prospects. You can consider getting certified by the American 
                    Culinary Federation (ACF) or other culinary associations.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <a href="che"><h2>
                    Keep learning:
                </h2></a>
                <p>
                    Culinary arts is a constantly evolving field, and it is essential to keep up with the latest trends and techniques. Attend workshops and seminars,
                     read cookbooks, and experiment with new recipes to enhance your skills.

                </p>
            </div>
        </div><div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Average salary for professional chef.
                </h2>
                <p>
                    The average salary of a chef is ₹17,722 per month. This number can vary greatly depending on the type of chef job you are looking for. 
                    For example, an executive chef makes about ₹39,670 per month, while the average salary of a kitchen chef is ₹13,615 per month. A head chef's average salary is ₹31,550 per month.
                    Becoming a chef requires hard work, dedication, and a passion for cooking. With the right training and experience, you can succeed in this field.


                </p>
            </div>
        </div>
      
     </div>
   </div>
</body>
<script src="./js/timeline.js"></script>
</html>