<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marg</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
   <div class="contain">
    <div class="top-section">
    <h1> How to became a Digital Marketing Specialist after completing your class 10th</h1>
    <p>
        Obtain a Bachelor's Degree, while a degree is not always mandatory, having a Bachelor's Degree in Marketing, Communications, or Business Administration can help you get started in the field.

    </p>
    </div> 
     <div class="timeline">
        <div class="line"></div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Gain relevant experience</h2>
                <p>
                    Look for internships or entry-level jobs in digital marketing to gain relevant experience in the field.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
              <h2> Learn digital marketing tools and techniques
                </h2>
                <p>
                    Familiarize yourself with various digital marketing tools and techniques such as search engine optimization (SEO), pay-per-click (PPC) advertising, social media marketing, email marketing, content marketing, and analytics.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Build a portfolio</h2>
                <p>
                    Build a portfolio of digital marketing campaigns you have worked on. This will showcase your skills and help you stand out to potential employers.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Stay up-to-date with industry trends</h2>
                
                <p>
                    Digital marketing is a fast-evolving field, so it's important to stay up-to-date with the latest industry trends and best practices.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>
                    Obtain relevant certifications
                </h2>
                <p>
                    Consider obtaining certifications in digital marketing tools and techniques. Google Ads, Hubspot, and Hootsuite are some of the organizations that offer certifications in various areas of digital marketing.



                </p>
            </div>
        </div><div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Network
                </h2>
                <p>
                    Attend industry events and conferences to network with other professionals and learn about new opportunities in the field.

                </p>
            </div>
        </div>
      
     </div>
   </div>
</body>
<script src="./js/timeline.js"></script>
</html>