<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>DashBoard</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="./css/style.css">

</head>
<body>

<header class="header">
   
   <section class="flex">

      <a href="home" class="logo">MARG</a>

      <form action="search.html" method="post" class="search-form">
         <input type="text" name="search_box" required placeholder="search..." maxlength="100">
         <button type="submit" class="fas fa-search"></button>
      </form>

      <div class="icons">
         <div id="menu-btn" class="fas fa-bars"></div>
         <div id="search-btn" class="fas fa-search"></div>
         <div id="user-btn" class="fas fa-user"></div>
         <div id="toggle-btn" class="fas fa-sun"></div>
      </div>

      <div class="profile">
         <img src="images/pic-1.jpg" class="image" alt="">
         <h3 class="name">Your Name</h3>
         <p class="role">Your Role</p>
         <a href="profile" class="btn">View/Update Profile</a>
         <div class="flex-btn">
            <a href="index" class="option-btn">Logout</a>
         </div>
      </div>

   </section>

</header>   

<div class="side-bar">

   <div id="close-btn">
      <i class="fas fa-times"></i>
   </div>

   <div class="profile">
      <img src="images/pic-1.jpg" class="image" alt="">
      <h3 class="name">Your Name</h3>
      <p class="role">Your Role</p>
      <a href="profile" class="btn">View/Update profile</a>
   </div>

   <nav class="navbar">
      <a href="home"><i class="fas fa-home"></i><span>Home</span></a>
      <a href="about"><i class="fas fa-question"></i><span>About</span></a>
      <a href="courses"><i class="fas fa-graduation-cap"></i><span>Professions</span></a>
      <a href="teachers"><i class="fas fa-chalkboard-user"></i><span>Skills</span></a>
      <a href="contact"><i class="fas fa-headset"></i><span>Contact Us</span></a>
   </nav>

</div>

<section class="home-grid">

   <h1 class="heading">Quick Options</h1>

   <div class="box-container">

      

      <div class="box">
         <h3 class="title">Top Categories</h3>
         <div class="flex">
            <a href="#"><i class="fas fa-code"></i><span>Engineering</span></a>
            <a href="#"><i class="fas fa-chart-simple"></i><span>Lawyer</span></a>
            <a href="#"><i class="fas fa-pen"></i><span>Doctor</span></a>
            <a href="#"><i class="fas fa-chart-line"></i><span>Business</span></a>
            <a href="#"><i class="fas fa-music"></i><span>Music</span></a>
            <a href="#"><i class="fas fa-camera"></i><span>Photography</span></a>
            <a href="#"><i class="fas fa-cog"></i><span>Software</span></a>
            <a href="#"><i class="fas fa-vial"></i><span>Science</span></a>
         </div>
      </div>

      <div class="box">
         <h3 class="title">Popular Skills</h3>
         <div class="flex">
            <a href="#"><i class="fab fa-html5"></i><span>HTML</span></a>
            <a href="#"><i class="fab fa-css3"></i><span>CSS</span></a>
            <a href="#"><i class="fab fa-js"></i><span>Javascript</span></a>
            <a href="#"><i class="fab fa-react"></i><span>React</span></a>
            <a href="#"><i class="fab fa-php"></i><span>PHP</span></a>
            <a href="#"><i class="fab fa-bootstrap"></i><span>Bootstrap</span></a>
         </div>
      </div>

   </div>

</section>



<section class="courses">

   <h1 class="heading">Top Profession's</h1>

   <div class="box-container">

      <div class="box">
         <div class="tutor">
            <div class="info">
               <h3>Architect</h3>
            </div>
         </div>
         <div class="thumb">
            <img src="./img/architecture.jpg" alt="">
         </div>
         <a href="Architect" class="inline-btn">View </a>
      </div>

      <div class="box">
         <div class="tutor">
            <div class="info">
               <h3>Charted Accountant</h3>
            </div>
         </div>
         <div class="thumb">
            <img src="./img/ca.jpg" alt="">
         </div>
         <a href="CA" class="inline-btn">View</a>
      </div>

      <div class="box">
         <div class="tutor">
            <div class="info">
               <h3>Data Marketing Specialist</h3>
            </div>
         </div>
         <div class="thumb">
            <img src="./img/dt.jpg" alt="">
         </div>
         <a href="Dt" class="inline-btn">View</a>
      </div>

      
   </div>

   <div class="more-btn">
      <a href="courses" class="inline-option-btn">View all Professions</a>
   </div>

</section>















<footer class="footer">

   &copy; Copyright @ 2023 by <span>Team Marg Darshak</span> | All Rights Reserved!

</footer>

<!-- custom js file link  -->
<script src="./js/script1.js"></script>

   
</body>
</html>