<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Marg</title>

	<link rel="stylesheet" type="text/css" href="./css/style1.css">

	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

	<!---start header---->
	<header>
		<a href="#" class="logo">
			<img src="img/logo123.png">
		</a>

		<ul class="navbar">
			<li><a href="#categories">Categories</a></li>
			<li><a href="#courses">Skills</a></li>
			<li><a href="signup">Register</a></li>
			<li><a href="log">Login</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
		<div class="header-icons">
			<div class="bx bx-menu" id="menu-icon"></div>
		</div>

		
	</header>

	<!---start home section---->
	<section class="home" id="home">
		<div class="home-text">
			<h6>You Can't be What You Can't See.</h6>
			<h1>Lack of Clarity on What to do?</h1>
			<p>Are you feeling Overwhelmed by the Job Search Process?</p>
			<div class="latter">
				<form>
					<a href="log.ejs"><input type="submit" value="Let's Start" required></a>
				</form>
			</div>
		</div>

		<div class="home-img">
			<img src="img/home.png">
		</div>
	</section>

	<!---start container section---->
	<section class="container">
		<div class="container-box">
			<div class="container-img">
				<img src="img/con1.svg">
			</div>
			<div class="container-text">
				<h4>Your Goal</h4>
			</div>
		</div>

		<div class="container-box">
			<div class="container-img">
				<img src="img/con2.svg">
			</div>
			<div class="container-text">
				<h4>Your Courses</h4>
			</div>
		</div>

		<div class="container-box">
			<div class="container-img">
				<img src="img/con3.svg">
			</div>
			<div class="container-text">
				<h4>Your Skills</h4>
			</div>
		</div>

		<div class="container-box">
			<div class="container-img">
				<img src="img/con4.svg">
			</div>
			<div class="container-text">
				<h4>Top Institutes</h4>
			</div>
		</div>

	</section>

	<!---start categories section---->
	<section class="categories" id="categories">
		<div class="center-text">
			<h5>CATEGORIES</h5>
			<h2>Popular Categories</h2>
		</div>

		<div class="categories-content">
			<div class="box">
				<img src="img/engi.jpg">
				<h3>Engineering</h3>
			</div>

			<div class="box">
				<img src="img/lawyer.jpg">
				<h3>Lawyer</h3>
			</div>

			<div class="box">
				<img src="img/doc.jpg">
				<h3>Doctor</h3>
			</div>

			<div class="box">
				<img src="img/arch.jpg">
				<h3>Architect</h3>
			</div>

			<div class="box">
				<img src="img/sci.jpg">
				<h3>Scientist</h3>
			</div>

			<div class="box">
				<img src="img/chef.jpg">
				<h3>Chef</h3>
			</div>

		</div>

	</section>
    <!---start skills section---->
	<section class="categories" id="courses">
		<div class="center-text">
			<h5>SKILLS</h5>
			<h2>Popular Skills</h2>
		</div>

		<div class="categories-content">
			<div class="box">
				<img src="img/social.jpg">
				<h3>Social Media</h3>
			</div>

			<div class="box">
				<img src="img/analytics.jpg">
				<h3>Analytics</h3>
			</div>

			<div class="box">
				<img src="img/seo.jpg">
				<h3>Search Engine Optimization</h3>
			</div>

			<div class="box">
				<img src="img/audio.jpg">
				<h3>Audio Production</h3>
			</div>

			<div class="box">
				<img src="img/vd.jpg">
				<h3>Video Production</h3>
			</div>

			<div class="box">
				<img src="img/cyber.jpg">
				<h3>Cyber Security</h3>
			</div>

		</div>
	</section>

	
	<!---start cta section---->
	<section class="cta">
		<div class="center-text">
			<h2>Leading Universities And Companies</h2>
		</div>

		<div class="cta-content">
			<div class="cta-img">
				<img src="img/cta1.png">
			</div>

			<div class="cta-img">
				<img src="img/cta2.png">
			</div>

			<div class="cta-img">
				<img src="img/cta3.png">
			</div>

			<div class="cta-img">
				<img src="img/cta4.png">
			</div>

			<div class="cta-img">
				<img src="img/cta5.png">
			</div>

			<div class="cta-img">
				<img src="img/cta6.png">
			</div>

		</div>
	</section>

	<!---start about section---->
	<section class="about" id="about">
		<div class="about-img">
			<img src="img/about.png">
		</div>

		<div class="about-text">
			<h2>Are You a Student Trying to Figure Out, How to land your Dream Job?</h2>
			<p>Marg is a one stop shop for students looking to kickstart their carrers. </p>
		</div>
	</section>

	<!---start contact section---->
	<section class="contact" id="contact">
		<div class="main-contact">
			<div class="contact-content">
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">Twitter</a></li>
			</div>

			<div class="contact-content">
			  <li><a href="#categories">Categories</a></li>
			  <li><a href="#courses">Skills</a></li>
			  <li><a href="#about">About Us</a></li>
			</div>

			<div class="contact-content">
				<li><a href="#">Login</a></li>
				<li><a href="#">Register</a></li>
			</div>

			<div class="contact-content">
				<li><a href="#">Marg Darshak<br>123/2 Sector7,Gurugram</a></li>
				<li><a href="#">marg@gmail.com</a></li>
				<li><a href="#">9817532996</a></li>
			</div>

		</div>
	</section>

	<div class="last-text">
		<p>© 2023 Team Marg Darshak. All rights reserved.</p>
	</div>

	<!---custom js link---->
	<script type="text/javascript" src="./js/script.js"></script>

</body>
</html>