<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marg</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
   <div class="contain">
    <div class="top-section">
    <h1> How to became a  Lawyer after completing your class 10th</h1>
    <p>
        In most countries, including India, becoming a lawyer requires completing a Bachelor of Laws (LLB) degree, which usually takes three years to complete after completing a Bachelor's degree. Therefore, it is not possible to become a lawyer after class 10th, which is usually considered a secondary school level education
    </p>
    </div> 
     <div class="timeline">
        <div class="line"></div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>What to do after 10 ?</h2>
                <p>
                    To become a lawyer, you will first need to complete your higher secondary education (class 12th) and obtain a Bachelor's degree in any field from a recognized university. Then, you can apply for admission to a law school or a university that offers a Bachelor of Laws (LLB) program.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
              <h2> After a LLB degree
                </h2>
                <p>
                    After completing your LLB degree, you will need to pass the bar exam or the equivalent licensing exam in your country to practice law. Additionally, you may need to complete an apprenticeship or obtain practical training before being able to practice as a lawyer.
                    </p>

            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>An overall journey</h2>
                <p>
                    In short, the path to becoming a lawyer requires a significant investment of time and effort in education and training. It is crucial to research the requirements and regulations in your specific country or region to ensure that you follow the correct path to achieve your career goals.

                </p>
            </div>
        </div>
        </div>
        
    
      
     </div>
   </div>
</body>
<script src="./js/timeline.js"></script>
</html>