<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marg</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
   <div class="contain">
    <div class="top-section">
    <h1> How to became a photographer after completing your class 10th</h1>
    <p>
        While it is possible to become a professional photographer in India without formal education, it is recommended to complete at least a high school diploma to gain a strong foundation in academics and communication skills. Here are some steps you can take to become a professional photographer in India after 10th
    </p>
    </div> 
     <div class="timeline">
        <div class="line"></div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Pursue photography as a hobby</h2>
                <p>
                    Start by exploring photography as a hobby and develop a strong passion for it. Practice taking photos regularly, experiment with different types of photography, and learn about the technical aspects of photography.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
              <h2> Complete your education</h2>
                
                
                <p>
                    Complete your high school education to gain a strong foundation in academics and communication skills. This will also help you understand the business side of photography and equip you with essential skills such as marketing and financial management.


                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Invest in good equipment</h2>
                <p>
                    Invest in a good camera and lens, and other equipment such as lighting and tripods. You may also want to consider upgrading your equipment as you progress in your photography career.



                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Learn from experienced photographers
                </h2>
                <p>
                    Seek guidance from experienced photographers in your area, attend workshops, and participate in photography competitions. This can help you learn new skills, get feedback on your work, and find potential clients.


                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>
                    Build your portfolio
                </h2>
                <p>
                    Start building your portfolio by taking pictures of friends and family, and offering your services to local businesses or events. Showcase your best work on a website or social media platform.


                </p>
            </div>
        </div><div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Market your services
                </h2>
                <p>
                    Market your photography services through social media, your website, and local directories. Consider offering your services for free or at a discounted rate to gain experience and build your portfolio.


                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Continue learning and improving
                </h2>
                <p>
                    Photography is a constantly evolving field, so it’s important to keep learning and improving your skills. Attend workshops, take online courses, and stay up-to-date with the latest trends and technology.


                </p>
            </div>
        </div>
        
      
      
     </div>
   </div>
</body>
<script src="./js/timeline.js"></script>
</html>