<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marg</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
   <div class="contain">
    <div class="top-section">
    <h1> How to became a Physician after completing your class 10th</h1>
    <p>
        Complete 10+2 education: You need to have a higher secondary education degree from a recognized board or university
    </p>
    </div> 
     <div class="timeline">
        <div class="line"></div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>What to do after 12th ?</h2>
                <p>
                    You need to clear the National Eligibility cum Entrance Test (NEET) for admission into MBBS (Bachelor of Medicine and Bachelor of Surgery) courses in India.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
              <h2> Complete MBBS
                </h2>
                <p>
                    You need to complete the five-year MBBS program, which includes one year of internship, from a recognized medical college or university.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Clear the PG exam</h2>
                <p>
                    You need to clear the Postgraduate Entrance Exam (PGEE) to pursue MD (Doctor of Medicine) or MS (Master of Surgery) in India.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Complete MD/MS
                </h2>
                <p>
                    You need to complete the three-year MD or MS program from a recognized medical college or university.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>
                    Obtain a medical license
                </h2>
                <p>
                    After completing your MD/MS, you need to obtain a medical license from the Medical Council of India (MCI) to practice medicine in India.

                </p>
            </div>
        </div><div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Consider specialization
                </h2>
                <p>
                    You can choose to specialize further by pursuing a DM (Doctorate in Medicine) or MCh (Master of Chirurgie) in a specific medical field.


                </p>
            </div>
        </div>
      
     </div>
   </div>
</body>
<script src="./js/timeline.js"></script>
</html>