<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marg</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
   <div class="contain">
    <div class="top-section">
    <h1>How To Become a Pilot </h1>
    <p>
        A pilot is a professional who flies and navigates aircraft, fighter jet, helicopters and <br>
        other aircraft types. They operate the flying controls while ensuring the safety of <br> 
        the crew and passengers. As a pilot, you could transport passengers or goods from one place
         to another or you could work with a company offering charter flights, aerial photography and 
        rescue operation.

    </p>
    </div> 
     <div class="timeline">
        <div class="line"></div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>What to do after 10 ?</h2>
                <p>
                    Wait for 2 years and complete 10+2 science schooling (Physics, Chemistry, Maths) from a regular school.
                    There are many flying schools that also help candidates get through 10+2 schooling through NIOS. 
                     So, you may directly approach such schools after 10th and put forward your application to complete 12th through this mode of schooling.

                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <a href="pilo"><h2>Join a flying school
                </h2></a>
                <p>
                    If you decide to become a civil aviation pilot, you need to join a flying or a training school.
                     Research and evaluate different flying schools in your city or around the country. 
                     Understand their fee structure and duration. Such schools offer different courses based on your age, experience and requirement. 
                     These training schools provide flight training along with classroom lectures to hone your piloting skills further.


                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Apply for a licence</h2>
                <p>
                    The Directorate General of Civil Aviation (DGCA) issues and regulates licenses for civil aviation pilots in India. 
                    To become a civil aviation pilot, you must complete a minimum number of hours of flight experience as per DGCA rules. 
                    You will also have to take written and oral examinations apart from showcasing your flying ability.

                    Based on your experience, age and flying hours, you may apply for students pilot licence (SPL), commercial pilot licence (CPL), private pilot licence (PPL) and airline transport pilot licence (ATPL).
                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Clear the pilot exams
                </h2>
                <p>
                    Both civil aviation and air force pilots have to clear written examinations and flying tests to earn their pilot licence.
                    Get flying experience, all civil aviation pilots have to log a certain number of flying hours to earn their licence. 
                    The flying experience depends upon the type of licence you wish to achieve. For example, an SPL licence requires no flying experience, 
                    but a CPL requires logging at least 200 flying time hours. It is essential to keep logging hours as you move in your career path.
                     It can take more than a year or two to log the number of hours required for CPL and ATPL.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Get your medical examination

                </h2>
                <p>
                    As a part of the pilot's licence stipulation, you must complete a medical fitness test to ensure your health does not interfere while operating the aircraft.
                    Both civil aviation pilots and air force pilots must clear medical examinations as per the rules laid by DGCA and Indian Defence Forces.
                    Air force aspirants require a minimum height of 152 cm and 6/6 eye vision on one eye and 6/9 vision on the other eye. Your weight should correlate with your height.
                    To become eligible for a DGCA licence, you require a certificate of physical fitness in compliance with the requirements of DGCA.
                </p>
            </div>
        </div><div class="section">
            <div class="bead"></div>
            <div class="content">
                <h2>Average salary for pilots
                </h2>
                <p>
                    The average salary for a commercial pilot in India is ₹ 3,62,744 per year. Some salaries range from ₹ 2,11,000 to ₹ 10,73,000 per year.
                    A fresher gets around 1.5 lakh per month for domestic flights and more than 4 lakh per month for experienced international pilots, and it is paid based on the number of flight hours.
                </p>
            </div>
        </div>
      
     </div>
   </div>
</body>
<script src="./js/timeline.js"></script>
</html>