<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Frequently Asked Questions</h2>
      <div class="accordion">
        <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="false">
            <span class="accordion-title">About Pilot</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              Also called aviators, pilots operate aircraft in various industries. They can be employed in the commercial sector,
               work for airlines, the military, or take on private jobs. Pilots typically form part of a crew consisting of the captain,
                and the first officer or co-pilot, who work together to safely fly and navigate aircraft. They also perform regular aircraft inspections.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false">
            <span class="accordion-title">Popular institutes </span>
            <span class="icon" aria-hidden="true"></span>
          </button> 
          <div class="accordion-content">
            <p>
              Institute                        	        Fees<br>
      <a href="https://igrua.gov.in/"> Indira Gandhi Rashtriya Uran Akademi (IGRUA) </a>   	INR 45L   – Full CPL<br>
     <a href="https://mpfc.in/index.php/service/commercial-pilot-license/">  Madhya Pradesh Flying Club (MPFC)	</a>                INR 8.5L  – Per Year<br>
      <a href="https://www.nationalcollege.co.in/aviation.php"> National Flying Training Institute (NFTI)</a>	        INR 34.6L – Full CPL<br>

            </p>  
          </div>
          
        </div>
        <div class="accordion-item">
          <button id="accordion-button-3" aria-expanded="false">
            <span class="accordion-title">Skills</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              •An understanding of maths and physics<br>
              •An ability to understand technical term's, as pilots need to know how their aircraft works<br>
              •Strong communication skills<br>
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Scholarship</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p><h3>
             <a href="https://rgfindia.org/interact-scholarships-rgf/">•Scholarships by Rajiv Gandhi Foundation<br></a>
             <a href="http://saraswatiacademy.in/scholarship">•Scholarship by Sarawati Aviation Academy.<br></a>
               <a href="https://nda.nic.in/">•Free trianing of pilot at NDA<br></a>
            </h3>
              </p>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/faq.js"></script>
  </body>
</html>
